body{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(./image/download.jpg);
    background-size: cover;
    overflow: auto;
    width: 100%;
}
h1{
    font-weight: 600;
    color:ghostwhite;
    text-align: center;
    font-style: oblique;
    font-size: 50px;
}

.Parking{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.box{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    background-color: transparent;
    box-shadow: 10px 5px 10px black;
    backdrop-filter: blur(100px);
}

.entry-btn{
    float: left;
    width: 50%;
    /* border: 2px saddlebrown solid; */
}

.input{
    text-align: center;
    width: 250px;
    max-width: 300px;
    height: 50px;
    margin: 10px auto;
    display: block;    
}

.exit-btn{
    float:left;
    width: 50%;
    /* border: 2px solid saddlebrown; */
}

.output{
    text-align: center;
    width: 250px;
    max-width: 300px;
    height: 50px;
    margin: 10px auto;
    display: block;
}